In [1]:
%load_ext sql

In [2]:
%sql sqlite:///sqlite-databases/netflix_simple.db

In [3]:
%sql SELECT * FROM titles LIMIT 3

 * sqlite:///sqlite-databases/netflix_simple.db
Done.

[('ts300399', 'Five Came Back: The Reference Films', 'SHOW', 'This collection includes 12 World War II-era propaganda films — many of which are graphic and offensive — discussed in the docuseries "Five Came Back."', 1945, 'TV-MA', 51, "['documentation']", "['US']", 1.0, None, None, None, 0.6, None),
 ('tm84618', 'Taxi Driver', 'MOVIE', 'A mentally unstable Vietnam War veteran works as a night-time taxi driver in New York City where the perceived decadence and sleaze feed his urge for violent action.', 1976, 'R', 114, "['drama', 'crime']", "['US']", None, 'tt0075314', 8.2, 808582.0, 40.965, 8.179),
 ('tm154986', 'Deliverance', 'MOVIE', "Intent on seeing the Cahulawassee River before it's turned into one huge lake, outdoor fanatic Lewis Medlock takes his friends on a river-rafting trip they'll never forget into the dangerous American back-country.", 1972, 'R', 109, "['drama', 'action', 'thriller', 'european']", "['US']", None, 'tt0068473', 7.7, 107673.0, 10.01, 7.3)]

In [4]:
%sql SELECT * FROM credits LIMIT 3

 * sqlite:///sqlite-databases/netflix_simple.db
Done.

[(3748, 'tm84618', 'Robert De Niro', 'Travis Bickle', 'ACTOR'),
 (14658, 'tm84618', 'Jodie Foster', 'Iris Steensma', 'ACTOR'),
 (7064, 'tm84618', 'Albert Brooks', 'Tom', 'ACTOR')]