# Jak psát poznámky
Jdou tu psát poznámky.

Jdou formátovat, třeba **tučně**.
## Jdou odrážkové seznamy
- první
- druhý

## Jde programovat v pythonu

In [12]:
print("hello world")

hello world

## A my máme nainstalované rozšíření na psaní SQL příkazů

In [13]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [14]:
%sql sqlite:///sqlite-databases/netflix_simple.db

In [15]:
%sql SELECT * FROM titles LIMIT 3

 * sqlite:///sqlite-databases/netflix_simple.db
Done.

[('ts300399', 'Five Came Back: The Reference Films', 'SHOW', 'This collection includes 12 World War II-era propaganda films — many of which are graphic and offensive — discussed in the docuseries "Five Came Back."', 1945, 'TV-MA', 51, "['documentation']", "['US']", 1.0, None, None, None, 0.6, None),
 ('tm84618', 'Taxi Driver', 'MOVIE', 'A mentally unstable Vietnam War veteran works as a night-time taxi driver in New York City where the perceived decadence and sleaze feed his urge for violent action.', 1976, 'R', 114, "['drama', 'crime']", "['US']", None, 'tt0075314', 8.2, 808582.0, 40.965, 8.179),
 ('tm154986', 'Deliverance', 'MOVIE', "Intent on seeing the Cahulawassee River before it's turned into one huge lake, outdoor fanatic Lewis Medlock takes his friends on a river-rafting trip they'll never forget into the dangerous American back-country.", 1972, 'R', 109, "['drama', 'action', 'thriller', 'european']", "['US']", None, 'tt0068473', 7.7, 107673.0, 10.01, 7.3)]

In [16]:
%sql SELECT * FROM credits LIMIT 10

 * sqlite:///sqlite-databases/netflix_simple.db
Done.

[(3748, 'tm84618', 'Robert De Niro', 'Travis Bickle', 'ACTOR'),
 (14658, 'tm84618', 'Jodie Foster', 'Iris Steensma', 'ACTOR'),
 (7064, 'tm84618', 'Albert Brooks', 'Tom', 'ACTOR'),
 (3739, 'tm84618', 'Harvey Keitel', "Matthew 'Sport' Higgins", 'ACTOR'),
 (48933, 'tm84618', 'Cybill Shepherd', 'Betsy', 'ACTOR'),
 (32267, 'tm84618', 'Peter Boyle', 'Wizard', 'ACTOR'),
 (519612, 'tm84618', 'Leonard Harris', 'Senator Charles Palantine', 'ACTOR'),
 (29068, 'tm84618', 'Diahnne Abbott', 'Concession Girl', 'ACTOR'),
 (519613, 'tm84618', 'Gino Ardito', 'Policeman at Rally', 'ACTOR'),
 (3308, 'tm84618', 'Martin Scorsese', 'Passenger Watching Silhouette', 'ACTOR')]